<div class="container">
  <h3 id="searchtitle">Search For A Shoe To Review</h3>
  <div class="jumbotron">
    <form class="search">
      <div class="form-group">
        <label for="fname" class="home-labels"><b>Shoe Brand</b></label>
        <input type="text" class="form-control" id="brand" placeholder="Reebok" />
      </div>
      <div class="form-group">
        <label for="name" class="home-labels"><b>Shoe Name</b></label>
        <input
          type="text"
          class="form-control"
          id="name"
          placeholder="Classic"
        />
      </div>
      <div class="form-group">
        <label for="InputEmail" class="home-labels"><b>Release Year</b></label>
        <input
          type="text"
          class="form-control"
          id="releaseYear"
          placeholder="2021"
        />
      </div>
      <button
        type="submit"
        class="btn btn-primary"
        id="form-submit"
      >Submit</button>
    </form>
  </div>
</div>

<script src="/js/search.js"></script>