<div class="box-wrapper">
        <div id="box1">
            <h4 id="shoe-name">{{name}}</h4>
        </div>  
        <div id="box3"></div>
            <div id="box4">
                <div id="shoe-img"></div>
                <div id="details">
                      <h5>Details</h5>
                        <ul id="list">
                          <li id="relDate"></li>
                          <li id="retailPrice"></li>
                          <li id="styleID"></li>
                        </ul>
                </div>
            </div>
            <div id="box4">
                <h4>Review</h4>
                <form>
                  <input type="radio" id="star5" name="rate" value="5" />
                    <label for="star5" title="text">5 stars</label>
                  <input type="radio" id="star4" name="rate" value="4" />
                    <label for="star4" title="text">4 stars</label>
                  <input type="radio" id="star3" name="rate" value="3" />
                    <label for="star3" title="text">3 stars</label>
                  <input type="radio" id="star2" name="rate" value="2" />
                    <label for="star2" title="text">2 stars</label>
                  <input type="radio" id="star1" name="rate" value="1" />
                    <label for="star1" title="text">1 star</label> }}
                  <div class="form-group">
                    <label for="exampleFormControlTextarea1">Add Review</label>
                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                  </div>
                </form>

                <h4>User Reviews</h4>
                <div id="pullReviews"></div>
            </div>
        </div>
    </div>

{{!-- <div class="container">
  <div class="row">
    <h4 id="shoe-name">{{name}}</h4>
  </div>
</div>
<div class="container">
  <div class="row">
    <div id="shoe-img"></div>
      <div id="details">
        <h5>Details</h5>
        <ul id="list">
          <li id="relDate"></li>
          <li id="retailPrice"></li>
          <li id="styleID"></li>
        </ul>
      </div>
</div>
<div class ="container">
  <div class="row-3">
    <h3>Review</h3>
  </div>
</div> --}}
          {{!-- <h2>Place your review</h2>
          <form>
            <input
              type="text"
              placeholder="What is your Rating 1-5"
              id="rating"
            />
            <textarea placeholder="Leave us a review" id="review">
            </textarea>
            <div class="btn">
              <button id="review-submit">Submit Review</button>
              <button id="clear" href="#">Cancel</button> --}}
            {{!-- </div>
          </form> --}}
      
    {{!-- <h4>Review</h4>
    <div class="rate">
      {{#each Reviews}}
        <div>
          {{this.review}}
          <p>{{this.rating}}</p>
        </div>
      {{/each}} --}}
      {{! <input type="radio" id="star5" name="rate" value="5" />
      <label for="star5" title="text">5 stars</label>
      <input type="radio" id="star4" name="rate" value="4" />
      <label for="star4" title="text">4 stars</label>
      <input type="radio" id="star3" name="rate" value="3" />
      <label for="star3" title="text">3 stars</label>
      <input type="radio" id="star2" name="rate" value="2" />
      <label for="star2" title="text">2 stars</label>
      <input type="radio" id="star1" name="rate" value="1" />
      <label for="star1" title="text">1 star</label> }}


<script src="/js/review.js"></script>


