body {
  background-color: black;
}

h1 {
  font-size: 85px;
  text-align: center;
  font-family: "Audiowide", cursive;
  color: gold;
}

.jumbotron p {
  font-size: 20px;
  text-align: center;
  color: white;
}

#navbarNav {
  justify-content: center;
}


.card-body {
  background-color: #800020;
}


label {
  color: gold;
  font-weight: bold;
}

.card {
  margin-top: 180px;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.btn {
  margin-top: 10px;
}

.col-sm {
  color: white;
}

h4 {
  color: white;
}

.sign-up {
  margin-top: 265px;
}

#list {
  list-style-type: none;
}

.checked {
  color: orange;
}
