body {
  margin-left: 4%;
  margin-right: 4%;
}

.star-rating s:hover,
.star-rating s.active {
    color: gold;
}
.star-rating-rtl s:hover,
.star-rating-rtl s.active {
    color: gold;
}

.star-rating s,
.star-rating-rtl s {
    color: gold;
    font-size: 50px;
    cursor: default;
    text-decoration: none;
    line-height: 50px;
}
.star-rating {
    padding: 2px;
}
.star-rating-rtl {
    background: #555;
    display: inline-block;
    border: 2px solid #444;
}
.star-rating-rtl s {
    color: yellow;
}
.star-rating s:hover:before,
.star-rating s.rated:before,
.star-rating s.active:before {
    content: "\2605";
}
.star-rating s:before {
    content: "\2606";
}
.star-rating-rtl s:hover:after,
.star-rating-rtl s.rated:after,
.star-rating-rtl s.active:after {
    content: "\2605";
}

.star-rating-rtl s:after {
    content: "\2606";
}

h4 {
  font-family: 'Audiowide', cursive;
}

h3 {
  color: red
}

#shoeinfo {
  display: flex
}

a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  background-color: #800020;
  color: black;
}

.links {
  margin:0;
  padding: 0;
  color:red;
  border: none;
}

.links:hover {
  background-color: black;
  color: rgb(223, 86, 86);
  text-decoration: none
}

#amazon {
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  color: #060a77;
  max-width: 160px;
  line-height: 8px;
  text-align: center;
  margin-bottom: 10px;
  background-color: gold;
  border-radius: 10px;
}

.previous {
  margin-top: 5px;
  background-color: gold;
  color: black;
  margin-right: 5px;
  margin-left:43%
}

.next {
  margin-top: 5px;
  background-color: gold;
  color: black;
  margin-left: 5px
}

.round {
  border-radius: 50%;
}

#shoe-name {
  font-size:25px
}

#shoe-info {
  display: flex;
  justify-content: space-between
}

#details {
  border-style: solid;
  border-color: #800020;
  width: 45%;
  max-height: 250px;
  color: whitesmoke;
  margin-left: 15px;
  text-align: center;
  margin-top: 7%
}

#listname{
  margin-top: 15px
}

#list {
  font-size: 18px;
  margin-top: 10px
}

.submitbtn {
  background-color: #800020;
  border-color: whitesmoke
}

.sumbitbtn:hover {
  background-color: #800020;
  opacity:0.8
}

.review-card {
  width:  100%;
  min-height: 10%;
  min-width: 35%;
  color: var(--dark);
}

.card-review {
  background-color: black;
  color: whitesmoke;
}

.each-card {
  margin-top: 10px;
  border: 3px solid whitesmoke;
  border-radius: var(--border-radius);
  border-style: solid;
  border-width: medium;
  background-color: rgba(255, 229, 85, 0.925);
}

#card-top {
  display: flex;
  justify-content: space-between;
  color: #800020;
  font-size: 18px;
  font-weight: bolder;
}

#review-title {
  margin-left: 5px;
  margin-top: 2px;
  margin-bottom: 2px;
  font-size: 22px
}


#review-user {
  margin-right: 5px;
  margin-top: 2px;
  margin-bottom: 2px
}

#review-content {
  color: whitesmoke;
  padding-top: 20px;
  padding-left: 20px;
  font-size: 18px
}

#review-rating {
  text-align:right;
  margin-right:10px
}

#box4 {
  float: right;
}

#pullReviews {
  color: white;
}

